.card{
    height: 320px;
    .card-body{
        .card-title{
            @include styleText($color-black-0, $fs-0, $fw-1);
        }
        .card-text{
            @include styleText($color-gray-0, $fs-1
             - 1 , $fw-0);
             margin: 4px 0;
        }
        .card__star{
            i{
                color: #f4c150;
            }
            .card__rate{
                @include styleText($color-gray-0, $fs-1, $fw-1);
            }
            .card__total{
                @include styleText($color-gray-0, $fs-1, $fw-0);
            }
        }
        .card__price{
            text-align: right;
            padding: 5px 0;
            span{
                &:first-child{
                    @include styleText($color-gray-0, $fs-1, $fw-0);
                    text-decoration: line-through;
                }
                &:last-child{
                    @include styleText($color-black-0, $fs-0, $fw-1);
                }
            }
        }
    }
}
.card--feedback{
    height: 280px;
    .card-body{
        padding: 2rem;
        .card__top{
            display: flex;
            margin-bottom: 1rem;
            .card__avatar{
                margin-right: 1rem;
                img{
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                }
            }
            .card__name{
                margin-bottom: 0;
            }
            .card__stars{
                color: $color-yellow-0;
            }
        }
        .card-text{
            @include styleText($color-black-0, $fs-0, $fw-0);
        }
    }
}