*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: $fs-0;
    line-height: $line-height-0;
    color: $color-black-0;
    background-color: $color-white-0;
}