.categories{
    margin-top: $mg-1;
    .categories__content{
        width: 90%;
        margin: 0 auto;
        h2{
            font-size: $fs-5;
        }
        .categories__items{
            padding: $pd-1;
            font-size: $fs-3;
            border: 1px solid $color-black-0;
            margin-bottom: $mg-2;
            p{
                display: inline-block;
            }
            &:hover{
                box-shadow: 0 0 1px 1px rgba(21, 23, 28, 0.1);
                cursor: pointer;
            }
        }
    }
}