.courses{
    margin: $mg-1 0;
    .courses__content{
        width: 90%;
        margin: auto;
        .courses__left{
            background-color: $color-gray-1;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 $pd-1 * 2;
        }
        #myTab{
            margin-bottom: $mg-1;
            .nav-link{
                @include styleText($color-black-0, $fs-0, $fw-0);
                &:hover{
                    @include styleText($color-blue-0, $fs-0, $fw-0);
                    border: none;
                }
                &.active{
                    border: none;
                    border-bottom: 5px solid $color-blue-0;
                }
            }
        }

    }
}