.cover{
    background-image: url("/../img/cover.jpg");
    @extend %backgroundImg;
    height: 500px;
    position: relative;
    .cover__content{
        max-width: 500px;
        position: absolute;
        top: 50%;
        left: 12%;
        transform: translateY(-50%);
    }
    h1{
        @include styleText($color-white-0, $fs-2, $fw-1);
    }
    p{
        @include styleText($color-white-0, $fs-3, $fw-0);
    }
    .cover__Form{
        @include styleFormSearch($color-white-0, $color-white-0, $color-white-0);
    }
    @include responsive('small'){
        .cover__content{
            max-width: 400px;
            left: 7%;
        }
    }
}